.herosection{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10vh;
}

.herosection-description-container{
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.herosection-description{
    width: 60%;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
}

.herosection-bottom-wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 2vh 5vw;
    justify-content: space-between;
    align-items: center;
}

.herosection-bottom-left{
    width: 30%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3vh 3vw;
}

.herosection-bottom-left-image{
    width: 100%;
    height: auto;
}

.herosection-bottom-left-button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 67.5px;
    background: #007BFF;
    border: none;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 3vh 1vw;
    z-index: 2;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    overflow: hidden;
    white-space: nowrap;
}

.button-text {
    opacity: 1;
    transform: translateX(0);
    transition: all 0.3s ease;
    display: inline-block;
}

.button-arrow {
    width: 7vh;
    height: 7vh;
    opacity: 0;
    transform: translateX(100%);
    transition: all 0.3s ease;
    position: absolute;
}

.herosection-bottom-left-button:hover {
    width: 12vh;
    height: 12vh;
}

.herosection-bottom-left-button:hover .button-text {
    opacity: 0;
    transform: translateX(-100%);
}

.herosection-bottom-left-button:hover .button-arrow {
    opacity: 1;
    transform: translateX(0);
}

.herosection-bottom-right{
    width: 30%;
}

.herosection-bottom-right-text{
    font-size: 2rem;
    font-weight: 700;
    text-align: right;
}