.caracteristicas-wrapper { 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 15vh;
}

.caracteristicas-container {
    position: relative;
    width: 75%;
    height: 100%;
}

.caracteristicas-title {
    padding: 5vh 2vw;
    width: fit-content;
    border-radius: 110px 110px 0 0;
    font-size: 3rem;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.37);
}

.caracteristicas-content {
    position: relative;
    padding: 1vh 0 3vh 3vw;
    z-index: 1;
    gap: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 0 110px 110px 110px;
    background-color: rgba(0, 0, 0, 0.37);
    gap: 1vh;
}

.caracteristicas-parte {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
}

.caracteristicas-parte-imagen {
    height: 120px;
    width: 120px;
    min-width: 120px;
    margin-right: 1.5rem;
    object-fit: contain;
}

.caracteristicas-parte-texto-wrapper {
    flex: 1;
    font-size: 2.5rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: left;
}

.caracteristicas-button {
    z-index: 3;
    position: absolute;
    cursor: pointer;
    right: 3vw;
    bottom: 4vh;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 4vh 1.5vw;
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 72px;
    background-color:#007BFF;
    border: none;
}

.caracteristicas-button:hover {
    background: rgba(2, 65, 235, 0.6);
    box-shadow: 0 0 20px rgba(0, 69, 254, 0.4);
    transform: translateY(-2px);
}