.funcionamiento{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    padding: 0 3vw;
    position: relative;
}


.funcionamiento-imagen{
    width: 100%;
    height: auto;
    object-fit: contain;
}


.pie{
    border-radius: 13px;
    background: #0F172A;
    position: absolute;
}


.pie-texto{
    font-weight: 700;
    font-size: 2rem;
    padding: 1vh 1vw;
}


#pie-1{
    top: 1vh;
    left: 9vw;
}


#pie-2{
    bottom: 48vh;
    left: 21vw;
}


#pie-3{
    bottom: 33vh;
    right: 9vw;
}


#pie-4{
    bottom: 5vh;
    right: 4vw;
}


#pie-4 .pie-texto{
    font-size: 2.5rem;
}


.funcionamiento-button{
    position: absolute;
    top: 22vh;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 27px;
    background: #0F172A;
    cursor: pointer;
    padding: 2vh 1vw;
    border: none;
}
.funcionamiento-button-imagen{
    object-fit: contain;
    width: 100%;
    aspect-ratio: 1 / 1;
}
