.main-body{
    width: 100%;
    background: linear-gradient(183deg, #020817 7.19%, #0045FE 32.24%, #030918 57.68%, #0145FD 82.92%, #030A1A 108.17%);
    height: 700vh; /* cambiar a futuro */
}

.aa{
    height: 100vh;
}