.main-body{
    width: 100%;
    background: linear-gradient(184deg, #020817 4.65%, #0045FE 28.3%, #030918 53.4%, #0145FD 78.32%, #030A1A 94%);
    height: 700vh; /* cambiar a futuro */
}

.aa{
    height: 100vh;
}

.bb{
    height: 200vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}