.indicaciones-wrapper{
    margin-bottom: 10vh;
}

.indicaciones-title{
    font-size: 3.5rem;
    font-weight: 700;
    margin-left: 3vw;
    margin-bottom: 3vh;
}

.indicaciones-defectos-wrapper{
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.indicaciones-subtitulo{
    font-size: 2.5rem;
    font-weight: 700;
    margin-left: 3vw;
}

.indicaciones-defectos-content{
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 0 1vw;
    padding: 0 2vw;
}

.indicaciones-defectos{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 18px 27px 10.7px 0 rgba(0, 0, 0, 0.25);
    background: rgba(193, 160, 160, 0.08);
    border-radius: 51px;
    table-layout: fixed;
}

.indicaciones-defectos-header > th,
.indicaciones-defectos-body > td {
    width: 50%;
}

.indicaciones-defectos-header{
    text-align: left;
    font-size: 1rem;
    font-weight: 400;
}

.indicaciones-defectos-body{
    text-align: left;
    font-size: 1.5rem;
    font-weight: 400;
}

.indicaciones-defectos td {
    padding-left: 2vw;
    padding-right: 2vw;
}

.indicaciones-defectos th{
    padding: 1.5vh 2vw;
}

.indicaciones-defectos tbody tr:not(:last-child) {
    position: relative;
}

.indicaciones-defectos tbody tr:not(:last-child)::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 2vw;
    right: 2vw;
    height: 0.617px;
    background-color: rgba(87, 86, 86, 0.40);
}

.indicaciones-confianza-cell{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
    justify-content: left;
}

.indicaciones-confianza-progress{
    flex: 1;
    height: 12px;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 30px;
    border: none;
    background-color: #2E3343;
}

.indicaciones-confianza-progress::-webkit-progress-bar {
    background-color: #2E3343;
    border-radius: 30px;
}

.indicaciones-confianza-progress::-webkit-progress-value {
    background-color: #007BFF;
    border-radius: 30px;
    transition: width 0.3s ease;
}

.indicaciones-confianza-progress::-moz-progress-bar {
    background-color: #007BFF;
    border-radius: 30px;
}

.indicaciones-alt-text-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.indicaciones-alt-text{
    font-size: 2.7rem;
    font-weight: 700;
    text-align: right;
    border-radius: 51px;
    padding: 2vw 2vw;
    background: rgba(193, 160, 160, 0.08);
    box-shadow: 18px 27px 10.7px 0 rgba(0, 0, 0, 0.25);
}

.indicaciones-progress-wrapper {
    margin: 2vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 2vh;
}

.indicaciones-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 80%;
    height: 12px;
    background: transparent;
    border-radius: 14px;
    border: none;
    outline: none;
    position: relative;
}

.indicaciones-slider::-webkit-slider-runnable-track {
    height: 12px;
    border-radius: 14px;
    background: #FFF;
    border: 3px solid #000;
}

.indicaciones-slider::-moz-range-track {
    height: 12px;
    border-radius: 14px;
    background: #FFF;
    border: 3px solid #000;
}

.indicaciones-slider::-moz-range-progress {
    height: 12px;
    border-radius: 14px;
    background-color: #007BFF;
}

.indicaciones-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #007BFF;
    border: 5px solid #000;
    cursor: pointer;
    margin-top: -8px;
    position: relative;
}

.indicaciones-slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #007BFF;
    border: 5px solid #000;
    cursor: pointer;
    box-sizing: border-box;
    margin-top: -8px;
}

.indicaciones-text-container{
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 1vh 1vw;
    font-weight: 700;
    font-size: 2rem;
}

.indicaciones-container-wrapper {
    position: relative;
    width: 78%;
    display: flex;
    justify-content: center;
}

.indicaciones-image-container {
    position: relative;
    width: 100%;
    display: inline-block;
    border-radius: 84px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
    overflow: hidden;
}

.indicaciones-image {
    width: 100%;
    height: auto;
    display: block;
    max-width: 100%;
}

.indicaciones-image-container .indicaciones-image:first-child {
    position: relative;
}

.indicaciones-image-container .indicaciones-image-overlay .indicaciones-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.indicaciones-image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.indicaciones-divider {
    position: absolute;
    top: 0;
    height: 100%;
    width: 15px;
    border: 5px solid #000;
    background: #007BFF;
    transform: translateX(-50%);
    z-index: 10;
    background-image: repeating-linear-gradient(
        45deg,
        transparent,
        transparent 6px,
        rgba(0, 0, 0, 1) 6px,
        rgba(0, 0, 0, 1) 12px
    );
}

.indicaciones-divider::before,
.indicaciones-divider::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #007BFF;
    background-image: repeating-linear-gradient(
        -45deg,
        transparent,
        transparent 3px,
        rgba(0, 0, 0, 1) 3px,
        rgba(0, 0, 0, 1) 9px
    );
    border: 5px solid #000;
    left: 50%;
    transform: translateX(-50%);
}

.indicaciones-divider::before {
    top: -12.5px;
}

.indicaciones-divider::after {
    bottom: -12.5px;
}
